@import 'https://fonts.googleapis.com/css?family=Lato';

body {
  font-family: Lato;
  font-size: 15px;
}

header, .container, #welcome{
  max-width: 1280px;
  margin: auto;
  background-color: lightyellow;
}

.blog-intro{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  text-align: center;
  z-index: 10;
  font-size: 25px;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.imgcontainer{
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
  max-width: 1280px;
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}


body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #666;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 60px;
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

.popupContainer {
  position: absolute;
  width: 330px;
  height: auto;
  left: 45%;
  top: 60px;
  background: #fff;
}

#modal_trigger {
  margin: 40px auto;
  width: 200px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  background: #f4f4f2;
}

.btn_red {
  background: #ed6347;
  color: #fff;
}

.btn:hover {
  background: #e4e4e2;
}

.btn_red:hover {
  background: #c12b05;
}

a.btn {
  color: #666;
  text-align: center;
  text-decoration: none;
}

a.btn_red {
  color: #fff;
}

.one_half {
  width: 50%;
  display: block;
  float: left;
}

.one_half.last {
  width: 45%;
  margin-left: 5%;
}
/* Popup Styles*/

.popupHeader {
  font-size: 16px;
  text-transform: uppercase;
}

.popupHeader {
  background: #f4f4f2;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.popupHeader .modal_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background: #e4e4e2;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.popupBody {
  padding: 20px;
  max-width: 500px;
  margin: auto; 
}
/* Social Login Form */

.social_login {
}

.social_login .social_box {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  background: #f4f4f2;
  overflow: hidden;
}

.social_login .icon {
  display: block;
  width: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  float: left;
  color: #fff;
  font-size: 16px;
  text-align: center;
}


.social_login .icon_title {
  display: block;
  padding: 5px 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: #777;
}

.social_login .social_box:hover {
  background: #e4e4e2;
}

.centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: uppercase;
}

.action_btns {
  clear: both;
  overflow: hidden;
}

.action_btns a {
  display: block;
}
/* User Login Form */

.user_login {
  display: none;
}

.user_login label {
  display: block;
  margin-bottom: 5px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  color: #666;
}

.user_login input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.user_login input[type="checkbox"] + label {
  float: left;
}

.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

.forgot_password {
  display: block;
  margin: 20px 0 5px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #ed6347;
}
/* User Register Form */

.user_register {
  display: none;
}

.user_register label {
  display: block;
  margin-bottom: 5px;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  color: #666;
}

.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.user_register input[type="checkbox"] + label {
  float: left;
}

.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}



h1 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;

  }

#chartdiv {
  max-width: 1100px;
  height: 400px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#info .comment{
  max-width: 1100px;
  border: 1px solid #ddd;
  margin: 5px auto;
  padding: 5px 8px;
}

#usrform{
  display: none;
}
.commentSection{
  max-width: 500px;
  background-color: lightpink;
}

textarea {
  width: 80%;
  float: left;
  border-radius: 3px;
}

.commententer{
  width: 15%;
  float: right;
  border-radius: 3px;
  height: 30px;
  margin-bottom: 5px;
  background-color: #418ef2;
  border-color: #418ef2;
}


.signup{
  display: none;
}
